* {
  margin: 0;
  padding: 0;
}
body {
  background-color: powderblue;
}
.app {
  /* width: 100vh;
  height: 100vh; */
  /* margin: 0; */
}
.container {
  /* margin: 0;
  padding: 0; */
  /* flex-direction: column;
  align-items: center; */
}
.Login {
  background: url('../assets/MountainTentLg.jpg') no-repeat center center fixed; 
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login Form{
  width: 30%;
}

.Login Input {
  font-size: 1.4em;
  opacity: 0.6;
  margin-Top: 1em;
  border: 1px solid #989898;
}

.Login a {
  margin-left: 70%;
  /* color: rgb(25, 90, 143); */
  font-size: 1.1em;
  /* opacity: 0.6; */
}

.Login Button {
  font-size: 1.3em;
  opacity: 0.8;
  color: whitesmoke;
  background-color: rgb(25, 90, 143);
}

.Signup {
  background: url('../assets/RV.jpg') no-repeat center center fixed;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

}
.Landing {
  background: url('../assets/CampingConstellationsLg.jpg') no-repeat center center fixed;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.Query {
  background: url('../assets/NightCampLg.jpg') no-repeat center center fixed;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.Results {
  background: url('../assets/LakeHouseLg.jpg') no-repeat center center fixed;
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* .queryContainer {
  width: 50%;
  background-color: powderblue;
  opacity: 1;
  display: flex;
  align-items: center;
  margin: 0;
} */

/* .Form {
  margin: 40% auto;
  opacity: 1;
  width: 70%;
} */

/* div {
  text-align: center;
  margin: 0 auto;
  width: 90%;
} */

/* .LoginBtn {
  margin-left: 60%;
  height: 30%;
  width: 30%;
}

span {
  display: block;
  text-align: center;
  font-size: 3em;
  margin: 5% auto;
}

h1 {
  font-size: 5em;
}

a {
  margin-left: 70%;
} */
